{% extends 'auctions/layout.html' %}

{% block body %}
    <form class='new-listing-form' method='POST' action="{% url 'create' %}">

        {% csrf_token %}
        
        {{ form.non_field_errors }}
        <div class="fieldWrapper">
            {{ form.title.errors }}
            <label for="{{ form.title.id_for_label }}">Title</label>
            {{ form.title }}
        </div>
        <div class="fieldWrapper">
            {{ form.price.errors }}
            <label for="{{ form.price.id_for_label }}">Starting Price</label>
            {{ form.price }}
        </div>
        <div class="fieldWrapper">
            {{ form.url.errors }}
            <label for="{{ form.url.id_for_label }}">Image url (optional)</label>
            {{ form.url }}
        </div>
        <div class="fieldWrapper">
            {{ form.category.errors }}
            <label for="{{ form.category.id_for_label }}">Category</label>
            {{ form.category }}
        </div>
        <div class="fieldWrapper">
            {{ form.description.errors }}
            <label for="{{ form.message.id_for_label }}">Description</label>
            {{ form.description }}
        </div>
        
        <input class='btn btn-outline-dark' type='submit'>
    </form>
{% endblock body %}